<div class="cus-grid">
    <xg-grid [class]="text-nowrap" captionLabel="" [data]="commercialCreativeData"
        [gridConfig]="commercialCreativeGridConfig" [loading]="false" [allowRowSelection]="true"
        [useCheckBoxSelection]="true" [showSummaryRow]="true" selectionMode='multiple' [showSelectedRecordCount]="true"
        [showColumnFilterRow]="true" [showFilterColumnHighlighting]="true" [allowRowReordering]="false"
        [allowExport]="true" [enableGlobalFilter]="false" [showToolbarSection]="true">
    </xg-grid>
</div>
