// Fonts 
$main-font: "Open Sans", "Helvetica Neue", sans-serif; 
// Colours  

$white: #FFFFFF;
$smoke: #FAFFFF;
$smokeWhite: #F5F5F5;
$ghostWhite: #F8F8FF;

$gray: #DDD;
$lightGray: #CCC;
$darkGray: #A9A9A9;
$mediumBlack: #555;
$black: #000000;
$ash-color: #dee1ee;

$darksmoke: #8f8f8f;
$mediumsmoke: #edecec;
$lightsmoke: #efefef;

$red: #FF0000;
$darkRed: #8B0000;
$maroon: #800000;
$danger:#d9534f;

$orange: #FFA500;
$darkOrange: #FF8C00;
$orangeRed: #FF4500;
$tamota: #FF6347;

$yellow: #FFFF00;
$yellowGreen: #9ACD32;
$greenYellow: #ADFF2F;
$limeGreen: #32CD32;
$lime: #00FF00;
$green: #008000;
$darkGreen: #006400;

$blue: #0000FF;
$navyBlue: #000080;
$mediumBlue: #0000CD;
$midnightBlue: #191970;
$royalBlue: #4169E1;
$cyan: #00FFFF;
$lightCyan: #E0FFFF;
$info: #5bc0de;
$light-primary-color: #1f78c9;
$light-blue-bg-color: #e9eff8;

$purple: #800080;
$tab-font-color: #a7b7d5;


/* Font-Sizes Variables */
$font-11: 11px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-23: 23px;
$font-24: 24px;
$font-26: 26px;
$font-28: 28px;
$font-30: 30px;
$font-32: 32px;
$font-34: 34px;
$font-36: 36px;
$font-38: 38px;
$font-40: 40px;
$font-42: 42px;
$font-44: 44px;
$font-46: 46px;
$font-48: 48px;
$font-50: 50px;
/* Font-Sizes Variables */